.slider-item-wrapper {
  position: relative;

  img {
    height: 150px;
    width: 200px;
    object-fit: cover;
  }

  .titleOverlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2rem;
    cursor: pointer;
    white-space: normal;
    text-align: center;
  ;
  }
}
