<div class="artists-wrapper row">
    <div class="scroll-left-button col-1">
        <mat-icon *ngIf="!positionLeftBound" (click)="moveLeft()">arrow_back_ios</mat-icon>
    </div>
    <div class="drag-scroll-container col-md-10 col-sm-12">
        <drag-scroll (reachesLeftBound)="positionLeftBoundReached($event)"
                     [scrollbar-hidden]="true"
                     (reachesRightBound)="positionRightBoundReached($event)"
                     (indexChanged)="saveIndex($event)" #artistSlider>
            <ng-container *ngFor="let artist of (allArtists$ | async ) ">
                <app-artist-tile drag-scroll-item class="col-xl-4 col-lg-6 col-md-12" [selected]="(selectedArtist$ | async) === artist" [artist]="artist" (click)="onArtistSelected(artist)"></app-artist-tile>
            </ng-container>
        </drag-scroll>
        <app-slider-dots *ngIf="innerScreenWidth < 992 && (allArtists$ | async)?.length > 1" [marginTop]="20"  [maxIndexes]="(allArtists$ | async)?.length" [currentIndex]="currentIndex">
        </app-slider-dots>
    </div>
    <div class="scroll-right-button col-1">
        <mat-icon *ngIf="!positionRightBound" (click)="moveRight()">arrow_forward_ios</mat-icon>
    </div>
</div>
