<mat-toolbar id="navbar">
    <span>
        <a class="navigation-item" [routerLink]="['/home']"><img src="../assets/logos/schwifty_records_logo.png" alt="Schwifty Records Logo"></a>
    </span>
    <span class="navigation-items">
        <div class="navigation-item-wrapper">
            <a class="navigation-item" [routerLink]="['/artists']" [routerLinkActive]="'active-link'">Artists</a>
        </div>
        <div class="navigation-item-wrapper">
           <a class="navigation-item" [routerLink]="['/releases']" [routerLinkActive]="'active-link'">Releases</a>
        </div>
        <div class="navigation-item-wrapper">
            <a class="navigation-item" [routerLink]="['/events']" [routerLinkActive]="'active-link'">Events</a>
        </div>
        <div class="navigation-item-wrapper">
            <a class="navigation-item" [routerLink]="['/news']" [routerLinkActive]="'active-link'">News</a>
        </div>
    </span>
</mat-toolbar>
