<div class="main">

    <section>
        <app-home-section [sectionHeader]="'Schwift of the week'">
            <app-schwift-otw></app-schwift-otw>
        </app-home-section>
    </section>
    <section id="artist">
        <app-home-section id="'artist'" [sectionHeader]="'Artist'">
            <app-artists></app-artists>
        </app-home-section>
    </section>
    <section id="releases">
        <app-home-section id="'releases'" [sectionHeader]="'Releases'" [sectionSubHeader]="'Albums'">
            <app-releases-albums></app-releases-albums>
        </app-home-section>
    </section>
    <section>
        <app-home-section [sectionHeader]="'Releases'" [sectionSubHeader]="'Songs'" [withoutTopMargin]="true">
            <app-releases-songs (onSongSelected)="displayPlayer($event)"></app-releases-songs>
        </app-home-section>
    </section>
</div>
<app-song-player *ngIf="currentlyPlayedSong" [song]="currentlyPlayedSong">

</app-song-player>
