.schwift-otw-wrapper {
  position: relative;
  padding: 40px;

  .cover-image {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 380px;
    img {
     max-height: 100%;
    }
  }

  .content {
    .song-title {
      display: flex;
      align-items: center;
      background-color: white;
      color: #1b1b1b;
      height: 80px;
      font-size: 1rem;
      @media (min-width: 768px) {
        font-size: 3rem;
      }
    }

    .shoutout {
      display: flex;
      align-items: center;
      color: #1b1b1b;
      height: 80px;
      font-size: 2rem;
    }
  }
}

.schwift-otw-links{
  img{
    height: 50px;
    width: 50px;
  }
}

.schwift-faktor {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #1b1b1b;
  height: 80px;
  width: 200px;
}

.schwift-otw-links {
 .link-item{
   p{
     display: inline;
     text-decoration: none;
     color: #1b1b1b;
     margin-left: 10px;
   }
 }
}
