.schwift-otw-wrapper {
  position: relative;
  padding: 40px;

  .cover-image {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 200px;
    img {
     max-height: 100%;
    }
  }

  .content {
    .song-title {
      display: flex;
      align-items: center;
      background-color: white;
      color: #1b1b1b;
      height: 80px;
      font-size: 1rem;
      @media (min-width: 768px) {
        font-size: 3rem;
      }
    }

    .shoutout {
      display: flex;
      align-items: center;
      color: #1b1b1b;
      height: 80px;
      font-size: 2rem;
    }
  }

  .schwift-faktor {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    background-color: white;
    color: #1b1b1b;
    height: 80px;
    width: 200px;
  }
}
