<div class="schwift-otw-wrapper row">
    <div class="cover-image col-lg-2 col-md-12">
        <img [src]="'assets/covers/albums/modus_laeufer.png'" alt="Cover Image"/>
    </div>
    <div class="content col-lg-10 col-md-12">
        <div class="song-title">
            was geht ab
        </div>
        <div class="shoutout">
            "voll geil man"
        </div>
        <div class="shoutout-author">
            P.immel der nice
        </div>
    </div>
    <div class="schwift-faktor">
        Schwiftfaktor:
    </div>
</div>

