.artist-tile-wrapper{
  height: 400px;
  width: 100%;
  .artist-tile-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
      height: 400px;
      width: 400px;
      object-fit: cover;
    }
    .artist-name{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      color: #1b1b1b;
      height: 80px;
      width: 400px;
    }
  }
}
