.release-wrapper{
  padding: 40px;
  .album-card{
    margin: 20px;
    .song-row{
      height: 40px;
    }
    .even-list-item{
      background-color: #faffff;
    }
    .odd-list-item{
      background-color: #79aec8;
    }
  }
}
