.albums-wrapper{
  padding: 40px;

  .scroll-left-button, .scroll-right-button {
    display: flex;
    align-items: center;
    justify-content: center;
    mat-icon{
      font-size: 3rem;
      cursor: pointer;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  app-album-tile {
    cursor: pointer;
    height:63px;
    font-weight: 600;
    font-size: 18px;
  }

  drag-scroll {
    height: 500px;
    width: 100%;
  }

}
.dots{
  margin-top: 40px;
}
