<div class="albums-wrapper row">
    <div class="scroll-left-button col-1">
        <mat-icon *ngIf="!positionLeftBound" (click)="moveLeft()">arrow_back_ios</mat-icon>
    </div>
    <div class="drag-scroll-container col-md-10 col-sm-12">
        <drag-scroll (reachesLeftBound)="positionLeftBoundReached($event)"
                     [scrollbar-hidden]="true"
                     (reachesRightBound)="positionRightBoundReached($event)"
                     (indexChanged)="saveIndex($event)" #artistSlider>
            <ng-container *ngFor="let album of (filteredAlbums$| async) ">
                <app-album-tile drag-scroll-item class="col-xl-3 col-lg-6 col-md-12" [selected]="(selectedAlbum$ | async) === album" [album]="album" (click)="onAlbumSelected(album)"></app-album-tile>
            </ng-container>
        </drag-scroll>
        <app-slider-dots  *ngIf="innerScreenWidth<992  && (filteredAlbums$ | async)?.length > 1" [maxIndexes]="(filteredAlbums$| async)?.length" [currentIndex]="currentIndex">
        </app-slider-dots>
    </div>
    <div class="scroll-right-button col-1">
        <mat-icon *ngIf="!positionRightBound" (click)="moveRight()">arrow_forward_ios</mat-icon>
    </div>
</div>
