.albums-wrapper{
  padding: 40px;

  .scroll-left-button, .scroll-right-button {
    display: flex;
    align-items: center;
    justify-content: center;
    mat-icon{
      font-size: 3rem;
      cursor: pointer;
    }
  }

  app-album-tile {
    cursor: pointer;
  }

  drag-scroll {
    height: 500px;
    width: 100%;
  }
}
