<div class="artist-tile-wrapper" *ngIf="artist">
  <div class="artist-tile-content" (click)="onArtistSelected(artist)">
    <div class="artist-cover" [class.selected]="selected">
      <img [src]="artist.cover" [alt]="artist.name + 'Cover'">
    </div>
    <div class="artist-info" [class.selected]="selected">
      <div class="artist-name">{{artist.name}}</div>
      <div class="artist-links">
                <span *ngIf="artist.soundcloudLink">
                <a [href]="artist.soundcloudLink" target="_blank" Title="Soundcloud">
                    <img src="assets/links/sc.png">
                </a>
                </span>
        <span *ngIf="artist.spotifyLink">
                <a [href]="artist.spotifyLink" target="_blank" Title="Spotify">
                    <img src="assets/links/spotify.png">
                </a>
                </span>
        <span *ngIf="artist.youtubeLink">
                <a [href]="artist.youtubeLink" target="_blank" Title="Youtube">
                     <img src="assets/links/yt.png">
                </a>
                </span>
        <span *ngIf="artist.twitterLink">
                <a [href]="artist.twitterLink" target="_blank" Title="Twitter">
                    <img src="assets/links/twitter.png">
                </a>
                </span>
        <span *ngIf="artist.bandcampLink">
                <a [href]="artist.bandcampLink" target="_blank" Title="Bandcamp">
                    <img src="assets/links/bc.png">
                </a>
                </span>
        <span *ngIf="artist.instagramLink">
                <a [href]="artist.instagramLink" target="_blank" Title="Instagram">
                    <img src="assets/links/insta.png">
                </a>
                </span>
        <span *ngIf="artist.facebookLink">
                <a [href]="artist.facebookLink" target="_blank" Title="Facebook">
                    <img src="assets/links/fb.png">
                </a>
            </span>
      </div>
    </div>
  </div>
</div>
