.songs-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px;
  .song-cover {
    height: 45px;
    width: 45px;
  }
  .even-list-item{
    background-color: #faffff;
  }
  .odd-list-item{
    background-color: #e5f4f7;
  }
  .table-header{
    height: 45px;
    font-weight: 600;
    th{
      text-align: start;
    }
  }
  .song-row{
    td{
      text-align: start;
      font-weight: 400;

      &#album-cover {
        text-align: start;
        width: 45px;
      }

      &#play-button {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 32px;
        opacity: 50%;
        mat-icon{
          cursor: pointer;
          font-size: 2rem;
        }
      }

      .song-links{
        .link-item{
          img{
            opacity: 50%;
            height: 45px;
            width: 45px;
          }
        }
      }
    }
  }
}

