<div class="songs-wrapper" *ngIf="filteredSongTableEntries.length > 0">
    <table style="width:100%">
        <tr class="table-header">
            <th></th>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th class="d-none d-lg-table-cell">Time</th>
            <th class="d-none d-lg-table-cell">Release</th>
            <th>Links</th>
        </tr>
        <ng-container *ngFor="let songEntry of filteredSongTableEntries; let i = index">
            <tr class="song-row" [class.even-list-item]=" i%2 === 0" [class.odd-list-item]="i%2 === 1">
                <td id="album-cover">
                    <div id="play-button">
                        <mat-icon *ngIf="songEntry !== currentlySelectedSong || (songEntry === currentlySelectedSong && !playerRuns)  ; else stopIcon" (click)="playSong(songEntry)">play_arrow</mat-icon>
                        <ng-template #stopIcon>
                            <mat-icon (click)="pauseSong()">pause</mat-icon>
                        </ng-template>
                    </div>
                    <ng-container *ngIf="songEntry.cover; else albumCover">
                        <img class="song-cover" [src]="songEntry.cover">
                    </ng-container>
                    <ng-template #albumCover>
                        <img class="song-cover" [src]="'assets/covers/albums/' + songEntry.album?.cover">
                    </ng-template>

                </td>
                <td>{{songEntry.song}}</td>
                <td>{{songEntry.artist?.artist}}</td>
                <td>{{songEntry.album?.albumName}}</td>
                <td class="d-none d-lg-table-cell">{{songEntry.duration}}</td>
                <td class="d-none d-lg-table-cell">{{songEntry.album?.release}}</td>
                <td>
                    <div class="song-links col-md-1 col-sm-12">
                        <div class="link-item" *ngIf="songEntry.soundcloudSong">
                            <a [href]="songEntry.soundcloudSong.link" target="_blank">
                                <img src="assets/links/sc.png">
                            </a>
                        </div>
                        <div class="link-item"  *ngIf="songEntry.spotifySong">
                            <a [href]="songEntry.spotifySong.link" target="_blank">
                                <img src="assets/links/spotify.png">
                            </a>
                        </div>
                        <div class="link-item"  *ngIf="songEntry.youtubeSong">
                            <a [href]="songEntry.youtubeSong.link" target="_blank">
                                <img src="assets/links/yt.png">
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-container>

    </table>
</div>
