.songs-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px;
  .song-cover {
    height: 50px;
    width: 50px;
  }
  .even-list-item{
    background-color: white;
  }
  .odd-list-item{
    background-color: #e5f4f7;
  }
  .table-header{
    th{
      text-align: center;
    }
  }
  .song-row{
    td{
      text-align: center;

      &#album-cover {
        text-align: start;
        width: 40px;
      }

      &#play-button {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 45px;
        mat-icon{
          cursor: pointer;
          font-size: 2rem;
        }
      }

      .song-links{
        .link-item{
          img{
            height: 50px;
            width: 50px;
          }
        }
      }
    }
  }
}

