<div class="songs-wrapper">

        <ng-container *ngFor="let songEntry of filteredSongTableEntries">
            <mat-card>

                <mat-icon>audiotrack</mat-icon>
                <span>{{songEntry.song}}</span>
                <mat-icon>album</mat-icon>
                <span>{{songEntry.artist.artist}}</span>
                <mat-icon>group</mat-icon>
                <span>{{songEntry.album.album}}</span>
                <mat-icon>timer</mat-icon>
                <span>{{songEntry.duration}}</span>
            </mat-card>
        </ng-container>

</div>
